body{
box-sizing: border-box;
background: url(drpp.jpg) no-repeat;
background-size: fill;
color: aliceblue;
}


ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

ul li {
float: left;
width: 200px;
height: 40px;
background-color: black;
opacity: 0.8;
text-align: center;
line-height: 40px;
margin-right: 2px;



}

ul li a{
    text-decoration: none;
    color: aliceblue;
    display: block;
   
}

ul li a:hover{

    background-color: green;
}

ul li ul li{
    display: none;
}

ul li:hover ul li {
    display: block;
}

